In [137]:
import pandas as pd
import numpy as np
import yes24_dbio as db

In [116]:
book_list_data = pd.read_csv("./data/yes24/new_yes24bestseller20081_202312_1000_v2.csv")

C:\Users\hi\AppData\Local\Temp\ipykernel_5056\3534336026.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  book_list_data = pd.read_csv("./data/yes24/new_yes24bestseller20081_202312_1000_v2.csv")

In [117]:
book_list_data.head(2)

,yy,mon,title_h,title_f,title_m,title_e,detail_link,author,publisher,pub_date,price,n_reviews,review_link,rating,tags
0,2023,1,[도서],NaN,만일 내가 인생을 다시 산다면,벌써 마흔이 된 당신에게 해 주고 싶은 말들 42,https://www.yes24.com/Product/Goods/115142458,['김혜남'],메이븐,2022년 11월,"15,480",144,https://www.yes24.com/Product/Goods/115142458?...,9.6,"['#인생후반전', '#마흔즈음에', '#2023대구올해의책', '#크레마클럽에있어..."
1,2023,1,[도서],NaN,스카이 버스,명문 대학으로 직행하는 초등 공부 전략서,https://www.yes24.com/Product/Goods/116579452,['분당강쌤'],다산에듀,2023년 01월,"16,200",246,https://www.yes24.com/Product/Goods/116579452?...,9.8,"['#초등공부', '#크레마클럽에있어요']"

In [118]:
book_list_data['book_id'] = book_list_data['detail_link'].apply(lambda x: x.split("/")[-1])

In [119]:
book_list_data.head(2)

,yy,mon,title_h,title_f,title_m,title_e,detail_link,author,publisher,pub_date,price,n_reviews,review_link,rating,tags,book_id
0,2023,1,[도서],NaN,만일 내가 인생을 다시 산다면,벌써 마흔이 된 당신에게 해 주고 싶은 말들 42,https://www.yes24.com/Product/Goods/115142458,['김혜남'],메이븐,2022년 11월,"15,480",144,https://www.yes24.com/Product/Goods/115142458?...,9.6,"['#인생후반전', '#마흔즈음에', '#2023대구올해의책', '#크레마클럽에있어...",115142458
1,2023,1,[도서],NaN,스카이 버스,명문 대학으로 직행하는 초등 공부 전략서,https://www.yes24.com/Product/Goods/116579452,['분당강쌤'],다산에듀,2023년 01월,"16,200",246,https://www.yes24.com/Product/Goods/116579452?...,9.8,"['#초등공부', '#크레마클럽에있어요']",116579452

In [120]:
book_list_data = book_list_data[['book_id', 'yy', 'mon', 'title_h', 'title_f', 'title_m', 'title_e', 'detail_link',
       'author', 'publisher', 'pub_date', 'price', 'n_reviews', 'review_link',
       'rating', 'tags']]

In [121]:
book_list_data['title_h'] = book_list_data['title_h'].str.strip("[]")

In [122]:
book_list_data['author'] = book_list_data['author'].apply(lambda x: x.strip("[]' '").replace("'", ""))

In [123]:
book_list_data['author'] = book_list_data['author'].apply(lambda x: x.split(", "))

In [124]:
book_list_data['price'] = book_list_data['price'].str.replace(",", "")

In [125]:
book_list_data['author'][:20]

0                            [김혜남]
1                           [분당강쌤]
2                            [김혜자]
3                            [김호연]
4                            [김호연]
5                            [정지아]
6             [게리 켈러, 제이 파파산, 구세희]
7                            [최태성]
8        [김난도, 전미영, 최지혜, 이수진, 권정윤]
9                            [탁현민]
10                           [최태성]
11                     [이노우에 타케히코]
12                  [이치조 미사키, 권영주]
13                            [김훈]
14                    [세이노(SayNo)]
15    [비욘 나티코 린데블라드, 토마스 산체스, 박미경]
16                     [이노우에 타케히코]
17                           [ETS]
18                     [이노우에 타케히코]
19                     [이노우에 타케히코]
Name: author, dtype: object

In [128]:
book_list_data['tags'] = book_list_data['tags'].apply(lambda x: x.strip("[]' '").replace("'", "").replace("#", ""))

In [130]:
book_list_data['tags'] = book_list_data['tags'].apply(lambda x: x.split(", "))

In [136]:
book_list_data.head(2)

,book_id,yy,mon,title_h,title_f,title_m,title_e,detail_link,author,publisher,pub_date,price,n_reviews,review_link,rating,tags
0,115142458,2023,1,도서,NaN,만일 내가 인생을 다시 산다면,벌써 마흔이 된 당신에게 해 주고 싶은 말들 42,https://www.yes24.com/Product/Goods/115142458,[김혜남],메이븐,2022년 11월,15480,144,https://www.yes24.com/Product/Goods/115142458?...,9.6,"[인생후반전, 마흔즈음에, 2023대구올해의책, 크레마클럽에있어요, 인생선배]"
1,116579452,2023,1,도서,NaN,스카이 버스,명문 대학으로 직행하는 초등 공부 전략서,https://www.yes24.com/Product/Goods/116579452,[분당강쌤],다산에듀,2023년 01월,16200,246,https://www.yes24.com/Product/Goods/116579452?...,9.8,"[초등공부, 크레마클럽에있어요]"

In [132]:
book_list_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187964 entries, 0 to 187963
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   book_id      187964 non-null  object
 1   yy           187964 non-null  int64
 2   mon          187964 non-null  int64
 3   title_h      187964 non-null  object
 4   title_f      3182 non-null    object
 5   title_m      187964 non-null  object
 6   title_e      83198 non-null   object
 7   detail_link  187964 non-null  object
 8   author       187964 non-null  object
 9   publisher    187964 non-null  object
 10  pub_date     187911 non-null  object
 11  price        187964 non-null  object
 12  n_reviews    187964 non-null  object
 13  review_link  183997 non-null  object
 14  rating       187964 non-null  float64
 15  tags         187964 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 22.9+ MB

In [140]:
book_list_data['author'] = book_list_data['author'].astype('str')

In [141]:
book_list_data['tags'] = book_list_data['tags'].astype('str')

In [142]:
db.to_mysql(book_list_data, "yes24best", "yes24best200801_202311")

In [148]:
book_list_data['book_id'].nunique()

42780

In [151]:
unique_book_list = book_list_data.drop_duplicates(['book_id'], keep='first')

* genres의 단어를 벡터화해서 코사인 유사도를 통해 비슷한 장르를 가진 행을 찾고
* 유사도가 높은 행을 기준으로 내림차순 정렬

In [143]:
from sklearn.feature_extraction.text import CountVectorizer

In [152]:
cv = CountVectorizer(ngram_range=(1,2))
tags_mat = cv.fit_transform(unique_book_list['tags'])
print(tags_mat)

  (0, 11940)	1
  (0, 5181)	1
  (0, 387)	1
  (0, 14715)	1
  (0, 11887)	1
  (0, 11943)	1
  (0, 5182)	1
  (0, 391)	1
  (0, 15289)	1
  (1, 14715)	1
  (1, 14108)	1
  (1, 14126)	1
  (2, 5618)	1
  (2, 1231)	1
  (2, 7319)	1
  (2, 6235)	1
  (2, 10006)	1
  (2, 5624)	1
  (2, 1232)	1
  (2, 7323)	1
  (2, 6237)	1
  (3, 14715)	1
  (3, 16813)	1
  (3, 372)	1
  (3, 236)	1
  :	:
  (42545, 8168)	1
  (42545, 15104)	1
  (42550, 7634)	1
  (42550, 7052)	1
  (42550, 7055)	1
  (42576, 3704)	1
  (42576, 3691)	1
  (42576, 3711)	1
  (42603, 14715)	1
  (42603, 12953)	1
  (42603, 8922)	1
  (42603, 8925)	1
  (42603, 15141)	1
  (42605, 9089)	1
  (42644, 2398)	1
  (42651, 4848)	1
  (42681, 7690)	1
  (42701, 10404)	1
  (42701, 5568)	1
  (42701, 10408)	1
  (42701, 16279)	1
  (42701, 16281)	1
  (42766, 2398)	1
  (42771, 13474)	1
  (42773, 14715)	1

In [153]:
tags_mat.shape

(42780, 16827)

코사인 유사도를 사용해 gener_mat의 유사도를 산출 후 genre_sim에 저장
* 비슷한 장르 영화를 찾기 위해 계산
* 코사인 유사도는 주로 문자, 문서의 유사도 계산에 사용됨

In [154]:
from sklearn.metrics.pairwise import cosine_similarity

In [155]:
tags_sim = cosine_similarity(tags_mat, tags_mat)
print(tags_sim.shape)
print(tags_sim[:2])

(42780, 42780)
[[1.         0.19245009 0.         ... 0.         0.         0.        ]
 [0.19245009 1.         0.         ... 0.         0.         0.        ]]

In [158]:
unique_book_list['tags'][:4]

0    ['인생후반전', '마흔즈음에', '2023대구올해의책', '크레마클럽에있어요', ...
1                                ['초등공부', '크레마클럽에있어요']
2    ['문학뉴스레터에소개된책', '감사하는삶', '삶을노래하다', '배우의삶', '연예...
3    ['힐링소설', '2022포천시올해의책', '2022광양시올해의책', '크레마클럽에...
Name: tags, dtype: object

In [159]:
sorted_tags_sim = tags_sim.argsort()[:, ::-1]

In [160]:
sorted_tags_sim

array([[    0, 12061,  8932, ..., 28493, 28492, 21389],
       [    1, 24071, 18024, ..., 28495, 28494, 21389],
       [    2,  1178,   679, ..., 28515, 28514,     0],
       ...,
       [42779, 14265, 14263, ..., 28517, 28516,     0],
       [42779, 14265, 14263, ..., 28517, 28516,     0],
       [42779, 14265, 14263, ..., 28517, 28516,     0]], dtype=int64)

In [161]:
import joblib

In [162]:
joblib.dump(sorted_tags_sim, "./data/yes24/yes24best_tags_sim")

['./data/yes24/yes24best_tags_sim']

In [27]:
import numpy as np
import pandas as pd

import dask.dataframe as dd
import dask.array as da
import dask.bag as db
from dask.distributed import Client

In [28]:
client = Client()
client

C:\Users\hi\anaconda3\envs\nlp\lib\site-packages\distributed\node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 2739 instead
  warnings.warn(

In [52]:
ddf = dd.read_csv("./data/yes24/new_yes24bestseller20081_202312_1000_v2.csv", dtype={'n_reviews': 'object', 'title_f': 'object'})

In [53]:
ddf.visualize(engine='cytoscape')

CytoscapeWidget(cytoscape_layout={'name': 'dagre', 'rankDir': 'BT', 'nodeSep': 10, 'edgeSep': 10, 'spacingFact…

In [48]:
len(ddf)

187964

In [54]:
ddf.head()

,yy,mon,title_h,title_f,title_m,title_e,detail_link,author,publisher,pub_date,price,n_reviews,review_link,rating,tags
0,2023,1,[도서],NaN,만일 내가 인생을 다시 산다면,벌써 마흔이 된 당신에게 해 주고 싶은 말들 42,https://www.yes24.com/Product/Goods/115142458,['김혜남'],메이븐,2022년 11월,"15,480",144,https://www.yes24.com/Product/Goods/115142458?...,9.6,"['#인생후반전', '#마흔즈음에', '#2023대구올해의책', '#크레마클럽에있어..."
1,2023,1,[도서],NaN,스카이 버스,명문 대학으로 직행하는 초등 공부 전략서,https://www.yes24.com/Product/Goods/116579452,['분당강쌤'],다산에듀,2023년 01월,"16,200",246,https://www.yes24.com/Product/Goods/116579452?...,9.8,"['#초등공부', '#크레마클럽에있어요']"
2,2023,1,[도서],NaN,생에 감사해,NaN,https://www.yes24.com/Product/Goods/116046489,['김혜자'],수오서재,2022년 12월,"15,300",58,https://www.yes24.com/Product/Goods/116046489?...,9.6,"['#문학뉴스레터에소개된책', '#감사하는삶', '#삶을노래하다', '#배우의삶',..."
3,2023,1,[도서],NaN,불편한 편의점,NaN,https://www.yes24.com/Product/Goods/99308021,['김호연'],나무옆의자,2021년 04월,"12,600",535,https://www.yes24.com/Product/Goods/99308021?R...,9.3,"['#힐링소설', '#2022포천시올해의책', '#2022광양시올해의책', '#크레..."
4,2023,1,[도서],NaN,불편한 편의점 2,NaN,https://www.yes24.com/Product/Goods/111088149,['김호연'],나무옆의자,2022년 08월,"12,600",207,https://www.yes24.com/Product/Goods/111088149?...,9.2,"['#크레마클럽에있어요', '#가을에어울리는책', '#이웃의풍경', '#현실을그렸어..."

In [55]:
ddf.head()

,yy,mon,title_h,title_f,title_m,title_e,detail_link,author,publisher,pub_date,price,n_reviews,review_link,rating,tags
0,2023,1,[도서],NaN,만일 내가 인생을 다시 산다면,벌써 마흔이 된 당신에게 해 주고 싶은 말들 42,https://www.yes24.com/Product/Goods/115142458,['김혜남'],메이븐,2022년 11월,"15,480",144,https://www.yes24.com/Product/Goods/115142458?...,9.6,"['#인생후반전', '#마흔즈음에', '#2023대구올해의책', '#크레마클럽에있어..."
1,2023,1,[도서],NaN,스카이 버스,명문 대학으로 직행하는 초등 공부 전략서,https://www.yes24.com/Product/Goods/116579452,['분당강쌤'],다산에듀,2023년 01월,"16,200",246,https://www.yes24.com/Product/Goods/116579452?...,9.8,"['#초등공부', '#크레마클럽에있어요']"
2,2023,1,[도서],NaN,생에 감사해,NaN,https://www.yes24.com/Product/Goods/116046489,['김혜자'],수오서재,2022년 12월,"15,300",58,https://www.yes24.com/Product/Goods/116046489?...,9.6,"['#문학뉴스레터에소개된책', '#감사하는삶', '#삶을노래하다', '#배우의삶',..."
3,2023,1,[도서],NaN,불편한 편의점,NaN,https://www.yes24.com/Product/Goods/99308021,['김호연'],나무옆의자,2021년 04월,"12,600",535,https://www.yes24.com/Product/Goods/99308021?R...,9.3,"['#힐링소설', '#2022포천시올해의책', '#2022광양시올해의책', '#크레..."
4,2023,1,[도서],NaN,불편한 편의점 2,NaN,https://www.yes24.com/Product/Goods/111088149,['김호연'],나무옆의자,2022년 08월,"12,600",207,https://www.yes24.com/Product/Goods/111088149?...,9.2,"['#크레마클럽에있어요', '#가을에어울리는책', '#이웃의풍경', '#현실을그렸어..."

In [57]:
ddf['book_id'] = ddf['detail_link'].apply(lambda x: x.split("/")[-1], meta=('detail_link', 'object'))

In [58]:
ddf.head()

,yy,mon,title_h,title_f,title_m,title_e,detail_link,author,publisher,pub_date,price,n_reviews,review_link,rating,tags,book_id
0,2023,1,[도서],NaN,만일 내가 인생을 다시 산다면,벌써 마흔이 된 당신에게 해 주고 싶은 말들 42,https://www.yes24.com/Product/Goods/115142458,['김혜남'],메이븐,2022년 11월,"15,480",144,https://www.yes24.com/Product/Goods/115142458?...,9.6,"['#인생후반전', '#마흔즈음에', '#2023대구올해의책', '#크레마클럽에있어...",115142458
1,2023,1,[도서],NaN,스카이 버스,명문 대학으로 직행하는 초등 공부 전략서,https://www.yes24.com/Product/Goods/116579452,['분당강쌤'],다산에듀,2023년 01월,"16,200",246,https://www.yes24.com/Product/Goods/116579452?...,9.8,"['#초등공부', '#크레마클럽에있어요']",116579452
2,2023,1,[도서],NaN,생에 감사해,NaN,https://www.yes24.com/Product/Goods/116046489,['김혜자'],수오서재,2022년 12월,"15,300",58,https://www.yes24.com/Product/Goods/116046489?...,9.6,"['#문학뉴스레터에소개된책', '#감사하는삶', '#삶을노래하다', '#배우의삶',...",116046489
3,2023,1,[도서],NaN,불편한 편의점,NaN,https://www.yes24.com/Product/Goods/99308021,['김호연'],나무옆의자,2021년 04월,"12,600",535,https://www.yes24.com/Product/Goods/99308021?R...,9.3,"['#힐링소설', '#2022포천시올해의책', '#2022광양시올해의책', '#크레...",99308021
4,2023,1,[도서],NaN,불편한 편의점 2,NaN,https://www.yes24.com/Product/Goods/111088149,['김호연'],나무옆의자,2022년 08월,"12,600",207,https://www.yes24.com/Product/Goods/111088149?...,9.2,"['#크레마클럽에있어요', '#가을에어울리는책', '#이웃의풍경', '#현실을그렸어...",111088149

In [35]:
ddf.columns

Index(['yy', 'mon', 'title_h', 'title_f', 'title_m', 'title_e', 'detail_link',
       'author', 'publisher', 'pub_date', 'price', 'n_reviews', 'review_link',
       'rating', 'tags', 'book_id'],
      dtype='object')

In [36]:
ddf = ddf[['book_id', 'yy', 'mon', 'title_h', 'title_f', 'title_m', 'title_e', 'detail_link',
       'author', 'publisher', 'pub_date', 'price', 'n_reviews', 'review_link',
       'rating', 'tags']]

In [37]:
ddf.head()

,book_id,yy,mon,title_h,title_f,title_m,title_e,detail_link,author,publisher,pub_date,price,n_reviews,review_link,rating,tags
0,115142458,2023,1,[도서],NaN,만일 내가 인생을 다시 산다면,벌써 마흔이 된 당신에게 해 주고 싶은 말들 42,https://www.yes24.com/Product/Goods/115142458,['김혜남'],메이븐,2022년 11월,"15,480",144,https://www.yes24.com/Product/Goods/115142458?...,9.6,"['#인생후반전', '#마흔즈음에', '#2023대구올해의책', '#크레마클럽에있어..."
1,116579452,2023,1,[도서],NaN,스카이 버스,명문 대학으로 직행하는 초등 공부 전략서,https://www.yes24.com/Product/Goods/116579452,['분당강쌤'],다산에듀,2023년 01월,"16,200",246,https://www.yes24.com/Product/Goods/116579452?...,9.8,"['#초등공부', '#크레마클럽에있어요']"
2,116046489,2023,1,[도서],NaN,생에 감사해,NaN,https://www.yes24.com/Product/Goods/116046489,['김혜자'],수오서재,2022년 12월,"15,300",58,https://www.yes24.com/Product/Goods/116046489?...,9.6,"['#문학뉴스레터에소개된책', '#감사하는삶', '#삶을노래하다', '#배우의삶',..."
3,99308021,2023,1,[도서],NaN,불편한 편의점,NaN,https://www.yes24.com/Product/Goods/99308021,['김호연'],나무옆의자,2021년 04월,"12,600",535,https://www.yes24.com/Product/Goods/99308021?R...,9.3,"['#힐링소설', '#2022포천시올해의책', '#2022광양시올해의책', '#크레..."
4,111088149,2023,1,[도서],NaN,불편한 편의점 2,NaN,https://www.yes24.com/Product/Goods/111088149,['김호연'],나무옆의자,2022년 08월,"12,600",207,https://www.yes24.com/Product/Goods/111088149?...,9.2,"['#크레마클럽에있어요', '#가을에어울리는책', '#이웃의풍경', '#현실을그렸어..."

In [38]:
ddf.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 16 entries, book_id to tags
dtypes: object(13), float64(1), int64(2)